<header class="header">
  <div class="container">
    <nav class="navbar">
      <div class="logo">
        <span class="logo-text"> <img src="assets/images/portfolio_logo.svg" alt="Ahmadou Bamba Gaye" /></span>
      </div>
      <ul class="nav-menu">
        <li><a href="#accueil" class="nav-link">Accueil</a></li>
        <li><a href="#apropos" class="nav-link">À propos</a></li>
        <li><a href="#competences" class="nav-link">Compétences</a></li>
        <li><a href="#projets" class="nav-link">Projets</a></li>
        <li><a href="#temoignages" class="nav-link">Témoignages</a></li>
        <li><a href="#contact" class="nav-link">Contact</a></li>
      </ul>
      <a href="assets/cv.pdf" download class="btn btn-primary">Télécharger CV</a>
    </nav>
  </div>
</header>