<section id="accueil" class="hero">
  <div class="container">
    <div class="hero-content">
      <div class="hero-text">
        <p class="greeting">Bonjour, Je suis</p>
        <h1 class="name">AHMADU BAMBA GAYE LO</h1>
        <h2 class="title">Développeur Full Stack Java/Angular</h2>
        <p class="description">
          Développeur Full Stack Java/Angular passionné par la création d'applications performantes, sécurisées et
          intuitives. Fort d'expériences en entreprise (BNP Paribas) et d'une formation approfondie chez OpenClassrooms,
          je maîtrise le développement frontend et backend, l'intégration continue et la gestion de projets en
          méthodologie Agile.
        </p>
        <a href="#contact" class="btn btn-primary">Contactez Moi</a>
      </div>
      <div class="hero-image">
        <div class="profile-image">
          <img src="assets/images/profile.jpg" alt="AHMADU BAMBA GAYE LO" />
        </div>
        <div class="social-links">
          <a href="https://www.linkedin.com/in/bamba-gaye-/" target="_blank" rel="noopener noreferrer"
            class="social-link"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/AhmaduLo" target="_blank" rel="noopener noreferrer" class="social-link"><i
              class="fab fa-github"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>